<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Khalis ASR</title>
</head>
<body>
  
  <h1>Audio Recorder</h1>
  <button id="startBtn">Start Recording</button>
  <button id="stopBtn" disabled>Stop Recording</button>
  <audio id="audioPlayback" controls></audio>

  <script>
      let mediaRecorder;
      let audioChunks = [];

      const startBtn = document.getElementById('startBtn');
      const stopBtn = document.getElementById('stopBtn');
      const audioPlayback = document.getElementById('audioPlayback');

      startBtn.addEventListener('click', async () => {
          const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
          mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();

          startBtn.disabled = true;
          stopBtn.disabled = false;

          mediaRecorder.ondataavailable = event => {
              audioChunks.push(event.data);
          };

          mediaRecorder.onstop = () => {
              const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
              const audioUrl = URL.createObjectURL(audioBlob);
              audioPlayback.src = audioUrl;

              // Clear the audio chunks array for the next recording
              audioChunks = [];
          };
      });

      stopBtn.addEventListener('click', () => {
          mediaRecorder.stop();
          startBtn.disabled = false;
          stopBtn.disabled = true;
      });
  </script>
  <h1>Upload an Audio File</h1>
    <form action="/stt" method="POST" enctype="multipart/form-data">
        <label for="audio">Choose an audio file:</label>
        <input type="file" id="audio" name="audio" accept="audio/*" required>
        <button type="submit">Upload</button>
    </form>

    {% if text_data %}
      <h1>{{ text_data }}</h1>
    {% endif %}
    {% if not text_data %}
      <h1>text not here</h1>
    {% endif %}

</body>
</html>
